body {
    background-image: url(images/back.jpg);

}

.logo {
    padding: 10px;
    text-align:center;
    margin: 0 auto;
    width: 60%;
    max-width: 413px;
}

.logo img {
    width:100%;
}



nav {
    position: relative;
    display:flex;
    justify-content: space-around;
    top: 30px;
}

.menu {
    font-family: 'Estonia', cursive;
    font-size: 55px; 
    color:white;
    padding: 10px;
    font-size: calc(23px + 32 * (100vw / 1400));
    
}

.menu12 {
    font-family: 'Estonia', cursive;
    font-size: calc(28px + 22 * (100vw / 1400)); 
    color:white;
    border: 0.5px solid;
    border-color:gold;
    border-radius:40%;
    padding: 10px;
    
}

.menu:hover {
    font-family: 'Estonia', cursive;
    font-size: calc(28px + 22 * (100vw / 1400));
    color:white;
    border: 0.5px solid;
    border-color:gold;
    border-radius:40%;
    padding: 10px;

}
 a {
    text-decoration:none;
 }

 .main {
     position: relative;
     border: 2px solid rgb(63, 38, 6);
     background-image: url(https://funart.pro/uploads/posts/2021-04/1618428309_44-funart_pro-p-oboi-fon-staraya-bumaga-fon-56.jpg);
     top:50px;
     margin: 0;
     box-shadow: 0 -10px 50px 5px gold;
 }

 .embl {
     padding: 5px;
     float:right;
     /*margin: 0 auto; */
     width: 40%;
     max-width: 300px;
 }

 .embl img {
     width: 100%;
 }

 .embl2 {
    width: 40%;
    max-width: 300px;
    padding: 20px;
    float:left;
    margin: 0 auto;
}

.embl2 img {
    width: 100%;
}




 .info {
    font-family:  'Source Serif Pro', serif;
    padding: 10px;
    color: rgb(33, 21, 53);
    font-size: calc(13px + 7 * (100vw / 1400));
 }

 .h {
    font-family: 'Comforter Brush', cursive;
    padding: 10px;
    /*font-size: 70px; */
    color: rgb(33, 21, 53);
    text-align: left;
    font-size: calc(42px + 28 * (100vw / 1400));
 }

 .special {
    font-size: calc(13px + 7 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    font-style:italic;
    font-weight:bold;
    padding: 10px;
    color: rgb(63, 38, 6);
 }

.author {
    font-size: calc(13px + 7 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    color: rgb(63, 38, 6);

}

blockquote {
    text-align: center;
}

.ryad {
    display:flex;
    justify-content: space-around;
    padding: 20px;
}




a {
    color:rgb(63, 38, 6);
}

.h2 {
    font-family: 'Comforter Brush', cursive;
    padding: 10px;
    font-size: calc(26px + 24 * (100vw / 1400));
    color: rgb(33, 21, 53);
    text-align: left;
 }

 .house {
     width: 800px;
 }

 ul {

    font-size: calc(13px + 7 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    color: rgb(33, 21, 53); 
 }

.zaeb {
    float:left;
    margin: 0 auto;
    width: 60%;
    max-width: 170px;
}

.zaeb img {
    width:100%;
}





.test {
    font-weight:bold;
    font-size: calc(13px + 7 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    color: rgb(161, 127, 63);

}

.test:hover {
    font-weight:bold;
    font-size: calc(13px + 7 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    color: rgb(161, 127, 63);
    text-decoration: underline;

}

h1 {
    font-family: 'Source Serif Pro', serif;
    padding: 10px;
    font-size: calc(17px + 13 * (100vw / 1400));
    color: rgb(33, 21, 53);
    font-weight:100;
    text-align: center;
}



ul.answer > li {
    font-size: calc(14px + 11 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    padding: 10px;
    color: rgb(33, 21, 53);
    border: 0.5px solid;
    border-color:rgb(43, 28, 66);;
    margin : 10px;
    list-style-type: none;
}

ul.answer > li:hover {
    font-size: calc(14px + 11 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    padding: 10px;
    color: rgb(33, 21, 53);
    border: 0.5px solid;
    border-color:rgb(43, 28, 66);
    background-color:rgb(250, 232, 131);
    margin : 10px;
    list-style-type: none;
}

main {
    text-align:center;
    font-size: calc(13px + 7 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    padding: 10px;
    color: rgb(33, 21, 53);
}



.question {
    font-size: calc(17px + 13 * (100vw / 1400));
    font-family:  'Source Serif Pro', serif;
    padding: 10px;
    font-weight: 600;
    color: rgb(33, 21, 53);
}



